* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Rajdhani", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main > .ticket {
  width: 740px;
  height: 325px;
  border: 2px solid black;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  text-transform: uppercase;
}
main > .ticket > * {
  padding: 10px;
}
main > .ticket > .left {
  width: 595px;
  height: 100%;
  background-color: #f3f1c9;
}
main > .ticket > .left > .reg {
  width: 100%;
  height: 235px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
main > .ticket > .left > .reg > div {
  border: 2px solid black;
  display: flex;
}
main > .ticket > .left > .reg > div:nth-of-type(1) {
  grid-column: 1/span 8;
  background-color: black;
  color: #f3f1c9;
  font-family: "Commissioner", sans-serif;
  letter-spacing: 4px;
  font-size: 22px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}
main > .ticket > .left > .reg > div:not(:nth-of-type(1)) {
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 5px;
}
main > .ticket > .left > .reg > div:not(:nth-of-type(1)) > h5 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}
main > .ticket > .left > .reg > div:not(:nth-of-type(1)) > p {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 600;
}
main > .ticket > .left > .reg > div:nth-of-type(2) {
  grid-column: 1/span 6;
}
main > .ticket > .left > .reg > div:nth-of-type(3) {
  grid-column: 7/span 2;
  grid-row: 2/span 3;
  background-color: #c02a28;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main > .ticket > .left > .reg > div:nth-of-type(3) > p {
  width: 100%;
  font-family: "Abril Fatface", serif;
  letter-spacing: 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 28px;
  line-height: 30px;
  height: -moz-fit-content;
  height: fit-content;
}
main > .ticket > .left > .reg > div:nth-of-type(3) > p:first-of-type {
  font-family: "Commissioner", sans-serif;
}
main > .ticket > .left > .reg > div:nth-of-type(3) > p:first-of-type > span:first-of-type {
  font-size: 39px;
}
main > .ticket > .left > .reg > div:nth-of-type(3) > p:first-of-type > span:last-of-type {
  font-size: 19.5px;
}
main > .ticket > .left > .reg > div:nth-of-type(3) > p:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}
main > .ticket > .left > .reg > div:nth-of-type(3) > p:last-of-type > span {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-size: 40px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main > .ticket > .left > .reg > div:nth-of-type(3) > p:last-of-type > span > span {
  padding: 5px;
}
main > .ticket > .left > .reg > div:nth-of-type(3) > p:last-of-type > span > span:first-of-type {
  border-bottom: 2px solid white;
}
main > .ticket > .left > .reg > div:nth-of-type(4) {
  grid-column: 1/span 3;
}
main > .ticket > .left > .reg > div:nth-of-type(5) {
  grid-column: 4/span 3;
}
main > .ticket > .left > .reg > div:nth-of-type(6) {
  grid-column: 1/span 2;
}
main > .ticket > .left > .reg > div:nth-of-type(7) {
  grid-column: 3/span 2;
}
main > .ticket > .left > .info {
  height: calc(100% - 235px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Commissioner", sans-serif;
}
main > .ticket > .left > .info > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 11px;
  width: 390px;
}
main > .ticket > .left > .info > div > p {
  width: -moz-fit-content;
  width: fit-content;
  line-height: 13px;
  padding: 5px 0;
  word-spacing: 3px;
  font-weight: light;
}
main > .ticket > .left > .info > div > p:last-of-type {
  border-top: 1px dotted black;
  font-size: 9px;
  word-spacing: 5px;
  font-weight: light;
  padding-bottom: 0;
  line-height: 10px;
}
main > .ticket > .left > .info > i {
  background-color: black;
  color: #f3f1c9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  font-size: 40px;
  height: 60px;
  margin: 0 5px;
}
main > .ticket > .left > .info > figure {
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}
main > .ticket > .left > .info > figure > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
main > .ticket > .left > .info > figure > figcaption {
  color: #c02a28;
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 5px;
}
main > .ticket > .right {
  width: calc(100% - 595px);
  background-color: #e8c9a9;
  display: flex;
  flex-direction: column;
}
main > .ticket > .right > div:first-of-type {
  width: 240px;
  height: 120px;
  rotate: -90deg;
  background-color: #c02a28;
  transform-origin: left top;
  transform: translateX(-100%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 0.8fr) repeat(2, 1.2fr);
  border: 2px solid #c02a28;
}
main > .ticket > .right > div:first-of-type > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3px 8px;
}
main > .ticket > .right > div:first-of-type > div:nth-of-type(1) {
  grid-column: 1/span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Commissioner", sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 18px;
}
main > .ticket > .right > div:first-of-type > div:not(:nth-of-type(1)) {
  background-color: #e8c9a9;
  border: 2px solid #c02a28;
}
main > .ticket > .right > div:first-of-type > div > h5 {
  color: #c02a28;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
}
main > .ticket > .right > div:first-of-type > div > p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
main > .ticket > .right > div:last-of-type {
  transform: translateY(130px);
}
main > .ticket > .right > div:last-of-type figure {
  display: flex;
  flex-direction: column;
  width: 120px;
}
main > .ticket > .right > div:last-of-type figure > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main > .ticket > .right > div:last-of-type figure > figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c02a28;
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 5px;
}
main > .info {
  margin-bottom: -80px;
}
main > .info > p {
  font-weight: 700;
  color: #c02a28;
}
main > .info > p > span {
  color: #f3f1c9;
  font-weight: normal;
}
main > .contact > a {
  font-size: 30px;
  text-decoration: none;
  color: #f3f1c9;
  transition: 0.3s ease-in-out;
  margin: 10px;
}
main > .contact > a:hover {
  color: #c02a28;
}/*# sourceMappingURL=master.css.map */